.tig{
    font-family:Broadway;
    margin: 20px;
    margin-left: 700px;
}

.card{
    margin: 23px;
}

.card-title{
    font-family: Brush Script MT;
    font-size: 32px;
}

.bi{
    color: rgb(92, 92, 239);
}




