<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  
  <h1 class="tig">Team Work :</h1>

<div class="card" style="width: 18rem;">
  <img src="assets/team/5.jpg" class="card-img-top  rounded mx-auto d-block" alt="Safwen Barhoumi">
  <div class="card-body">
    <h5 class="card-title">Safwen Barhoumi</h5>
    <p class="card-text">Hne kol we7ed bech ya7ki 3la rou7o w Y9adem rou7o</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    <a href="https://www.facebook.com/profile.php?id=100004156489424">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/team/4.jpg" alt="Haythem Awled Lhaj" class="card-img-top   rounded mx-auto d-block" >
  <div class="card-body">
    <h5 class="card-title">Haythem Awled Lhaj</h5>
    <p class="card-text">Hne kol we7ed bech ya7ki 3la rou7o w Y9adem rou7o</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
     <a href="https://www.facebook.com/haythem.belhajj">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/team/2.jpg" alt="Firas Ben Abdallah" class="card-img-top rounded mx-auto d-block" >
  <div class="card-body">
    <h5 class="card-title">Firas Ben Abdallah</h5>
    <p class="card-text">Hne kol we7ed bech ya7ki 3la rou7o w Y9adem rou7o</p>
     <a href="https://www.facebook.com/firas.benabdallah.3">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
</a>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/team/3.jpg" alt="Abdesslem Chebili" class="card-img-top rounded mx-auto d-block" >
  <div class="card-body">
    <h5 class="card-title">Abdesslem Chebili</h5>
    <p class="card-text">Hne kol we7ed bech ya7ki 3la rou7o w Y9adem rou7o</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    <a href="https://www.facebook.com/slouma.chebili.1">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/team/33.jpg" alt="Firas Maaouia" class="card-img-top rounded mx-auto d-block" >
  <div class="card-body">
    <h5 class="card-title">Firas Maaouia</h5>
    <p class="card-text">Hne kol we7ed bech ya7ki 3la rou7o w Y9adem rou7o</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    <a href="https://www.facebook.com/firas.shepherd">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
</a>
  </div>
</div>
</body>
</html>

<!-- 

<div class="team-member">
  <img src="assets/team/5.jpg" alt="Safwen Barhoumi">
  <h1>Safwen Barhoumi</h1>
</div>

<div class="team-member">
  <img src="assets/team/4.jpg" alt="Firas Ben Abdallah">
  <h1>Haythem Awled Lhaj</h1>
</div>

<div class="team-member">
  <img src="assets/team/2.jpg" alt="Firas Ben Abdallah">
  <h1>Firas Ben Abdallah</h1>
</div>

<div class="team-member">
  <img src="assets/team/3.jpg" alt="Firas Ben Abdallah">
  <h1>Abdesslem Chebili</h1>
</div>



<div class="team-member">
  <img src="assets/team/1.jpg" alt="Firas Ben Abdallah">
  <h1>Firas Maaouia</h1>
</div>
 -->

<!-- <ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/about-us">About Us</a></li>
  <li><a routerLink="/contact-us">Contact Us</a></li>
</ul>
 -->