<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100090485737206">
                        Digital Force
                    </a>
                </li>
                <li>
                    <a href="/member">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100090485737206">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100090485737206">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.facebook.com/profile.php?id=100090485737206" target="_blank">Digital Force</a> for a better web.
        </div>
    </div>
</footer>
